<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      keepVariablesOnReload="true" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ">
    <targets>
        <target xsi:type="AsyncWrapper"
                name="AsyncFile">
            <target xsi:type="File"
                    fileName="${var:LogPath}/ConsoleRunner_${shortdate}.log"
                    keepFileOpen="true"
                    layout="${longdate} | ${pad:padding=-5:fixedlength=true:inner=${level:uppercase=true}} | ${pad:padding=-80:fixedlength=false:inner=${logger}} | ${message}  ${exception:format=tostring}"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="AsyncFile"/>
    </rules>
</nlog>