
<span class="iconify rzi rz-navigation-item-icon" data-width="16" data-height="16" data-icon="@Icon"></span>
<span class="rz-navigation-item-text">@Text</span>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Icon { get; set; }
}
