
<div style="display: flex; align-items: stretch;">
    
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <RadzenIcon Icon="@Icon" style="font-size: 48px; vertical-align: middle" />
    }

    <RadzenHeading Size="H2" Text="@Text" style="padding-left: 16px; vertical-align: middle; height: 100%" />
    
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Icon { get; set; }
}
