
@*<div style="vertical-align: middle; display: flex">
    <span class="iconify" data-width="32" data-height="32" data-icon="carbon:gateway" ></span>
    <div style="font-size: 24px; padding-left: 10px">Gateways</div>
</div>*@

<div style="display: flex; vertical-align: middle">
    
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <span class="iconify" data-width="32" data-height="32" data-icon="@Icon"></span>
    }

    <RadzenLabel Text="@Text" style="font-size: 24px; padding-left: 10px"></RadzenLabel>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Icon { get; set; }
}
