@page "/gateways"
@using CreativeCoders.SmartHal.Web.Api.Core.Models
@using CreativeCoders.SmartHal.Web.Api.Client
@inject ISmartHalWebApi SmartHalWebApi

<h3>Gateways</h3>

@if (_models == null)
{
    if (string.IsNullOrEmpty(_exceptionMessage))
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p><b>@_exceptionMessage</b></p>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in _models)
            {
                <tr>
                    <td><a href="/items/@model.Name">@model.Name </a></td>
                    <td>@model.Id </td>
                    <td>@model.StateText </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="ReloadItems">Refresh</button>
}

@code {
    private IEnumerable<GatewayModel> _models;

    private string _exceptionMessage;

    protected override async Task OnInitializedAsync()
    {
        await ReloadItems();
    }

    public async Task ReloadItems()
    {
        try
        {
            _models = await SmartHalWebApi.GetGatewaysAsync();
        }
        catch (Exception e)
        {
            _exceptionMessage = e.ToString();
        }
    }
}