
<RadzenLabel Text="Sidebar" />

<RadzenPanelMenu>

    <RadzenPanelMenuItem Text="Things">
        <RadzenPanelMenuItem Path="gateways">
            <Template>
                <div style="float: left">
                    <Iconify Icon="carbon:gateway-api"  />
                </div>
                <div style="float: left">
                    <RadzenHeading Size="H4" Text="Gateways"></RadzenHeading>
                </div>
                
            </Template>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Things" Path="things"/>
        <RadzenPanelMenuItem Text="Thing Channels" Path="thingchannels"/>
    </RadzenPanelMenuItem>
    
    <RadzenPanelMenuItem Text="Items" Path="/items" />
    
    <RadzenPanelMenuItem Text="Settings" Path="settings" />

</RadzenPanelMenu>

@code {

}
